[submodule "puppet/ext/concat"]
	path = puppet/ext/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "puppet/ext/firewall"]
	path = puppet/ext/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/ext/postgresql"]
	path = puppet/ext/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/ext/apt"]
	path = puppet/ext/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/ext/stdlib"]
	path = puppet/ext/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/ext/mysql"]
	path = puppet/ext/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/ext/puppetdb"]
	path = puppet/ext/puppetdb
	url = https://github.com/puppetlabs/puppetdb.git
[submodule "puppet/ext/collectd"]
	path = puppet/ext/collectd
	url = https://github.com/pdxcat/puppet-module-collectd
[submodule "puppet/ext/nodejs"]
	path = puppet/ext/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs.git
[submodule "puppet/ext/wget"]
	path = puppet/ext/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "puppet/ext/check_run"]
	path = puppet/ext/check_run
	url = https://bitbucket.org/landcareresearch/puppet-checkrun.git
[submodule "puppet/ext/ckan"]
	path = puppet/ext/ckan
	url = https://github.com/orifito/ckan-puppet.git
[submodule "puppet/ext/docker"]
	path = puppet/ext/docker
	url = https://github.com/garethr/garethr-docker
[submodule "puppet/ext/mesos"]
	path = puppet/ext/mesos
	url = https://github.com/deric/puppet-mesos
[submodule "puppet/ext/consul"]
	path = puppet/ext/consul
	url = https://github.com/solarkennedy/puppet-consul
[submodule "puppet/ext/zookeeper"]
	path = puppet/ext/zookeeper
	url = https://github.com/deric/puppet-zookeeper
[submodule "puppet/ext/staging"]
	path = puppet/ext/staging
	url = https://github.com/puppet-community/puppet-staging
[submodule "puppet/ext/datacat"]
	path = puppet/ext/datacat
	url = https://github.com/richardc/puppet-datacat
[submodule "puppet/ext/marathon"]
	path = puppet/ext/marathon
	url = https://github.com/meltwater/puppet-marathon
[submodule "puppet/ext/consul_template"]
	path = puppet/ext/consul_template
	url = https://github.com/gdhbashton/puppet-consul_template
[submodule "redis"]
	path = puppet/ext/redis
	url = https://github.com/arioch/puppet-redis
